@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.gContainer {
  display: grid;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 15% 40% 40% 5%;
  grid-template-areas:
    "header header header header nav nav"
    "main1 main1 main1 main1 main1 main1"
    "main2 main2 main2 main2 main2 main2"
    "footer footer footer footer footer footer";
}

.header {
  margin-top: 5%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  grid-area: header;
  justify-content: center;
}

.headerh1 {
  font-size: 4vw;
}

.headerp {
  margin-top: -4%;
  margin-left: 8%;
  font-size: 2vw;
}

.mNav {
  margin-top: 7%;
  grid-area: nav;
  position: absolute;
  margin-left: 75%;
}

.menu {
  background-color: black;
  opacity: 0.8;
  text-align: center;
  width: 150%;
  display: none;
}

.menu a {
  text-decoration: none;
  color: #fff;
  line-height: 60px;
  display: block;
  border-bottom: 1px solid #eaeaeb;
  margin: 0;
}

label {
  display: block;
  display: flex;
  font-size: 42px;
  cursor: pointer;
}

#toggle {
  margin-top: 5%;
  display: none;
}

#toggle:checked + .menu {
  display: block;
}
/* 
input:checked ~ .menu {
  transform: none;
} */

.main1 {
  grid-area: main1;
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.wireframeImage {
  width: 90%;
  height: auto;
  border: 2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
  border-radius: 25px;
}

.codeImage {
  display: none;
}

.web-designImage {
  display: none;
}

.main2 {
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  grid-area: main2;
}

.main2h2 {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  font-size: 4vw;
}

.main2p {
  font-size: 3vw;
}

.fas.fa-paint-brush {
  margin-left: 2%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  grid-area: footer;
  background-color: #efefef;
}

@media (min-width: 550px) {
  body {
  }
  .gContainer {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 15% 40% 40% 5%;
    grid-template-areas:
      "header header header header nav nav"
      "main1 main1 main1 main1 main1 main1"
      "main2 main2 main2 main2 main2 main2"
      "footer footer footer footer footer footer";
  }

  .header {
    grid-area: header;
  }

  .headerh1 {
    font-size: 3vmax;
  }

  .headerp {
    font-size: 1.5vmax;
  }

  .mNav {
    margin-top: 6%;
    margin-left: 60%;
    display: flex;
    grid-area: nav;
  }

  .menu {
    background-color: white;
    text-align: center;
    width: 100%;
    display: block;
  }

  .menu a {
    padding: 0vw 2.5vw 1vw;
    text-decoration: none;
    color: #144354;
    display: inline;
    border-bottom: 2px solid #eaeaeb;
    margin: 0;
  }

  label {
    display: none;
  }

  #toggle {
    display: none;
  }

  .main1 {
    margin-top: 5%;
    grid-area: main1;
    max-width: 100%;
    height: auto;
  }

  .wireframeImage {
    width: 34%;
    height: auto;
    border: 0px;
    box-shadow: 0px 15px 7px #ccc;
    border-radius: 0px;
  }

  .codeImage {
    display: blocK;
    width: 33%;
    height: auto;
    box-shadow: 0px 15px 7px #ccc;
  }

  .web-designImage {
    display: block;
    width: 33%;
    height: auto;
    box-shadow: 0px 15px 7px #ccc;
  }

  .main2 {
    grid-area: main2;
  }

  .main2h2 {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    font-size: 2.5vmax;
  }

  .main2p {
    font-size: 1.5vmax;
  }

  footer {
    grid-area: footer;
  }
}
